In [3]:
import pandas as pd
path="D:/study/tutedude_python/Files/CONTENT_FILES/ChocolateSalesData/Chocolate_Sales.xlsx"
df=pd.read_excel(path)

In [7]:
#print(df)
headers = ["Sales_Person","Country","Product_Detail","Date","Amount","Boxes_Shipped"]
df.columns = headers

          Sales_Person    Country       Product_Detail       Date    Amount  \
0       Jehu Rudeforth         UK      Mint Chip Choco 2022-01-04   $5,320
1          Van Tuxwell      India        85% Dark Bars 2022-08-01   $7,896
2         Gigi Bohling      India  Peanut Butter Cubes 2022-07-07   $4,501
3         Jan Morforth  Australia  Peanut Butter Cubes 2022-04-27  $12,726
4       Jehu Rudeforth         UK  Peanut Butter Cubes 2022-02-24  $13,685
...                ...        ...                  ...        ...       ...
1089  Karlen McCaffrey  Australia  Spicy Special Slims 2022-05-17   $4,410
1090    Jehu Rudeforth        USA           White Choc 2022-06-07   $6,559
1091      Ches Bonnell     Canada  Organic Choco Syrup 2022-07-26     $574
1092    Dotty Strutley      India              Eclairs 2022-07-28   $2,086
1093  Karlen McCaffrey      India       70% Dark Bites 2022-05-23   $5,075

      Boxes_Shipped
0               180
1                94
2                91
3               342
4               184
...             ...
1089            323
1090            119
1091            217
1092            384
1093            344

[1094 rows x 6 columns]

In [8]:
print(df)

          Sales_Person    Country       Product_Detail       Date    Amount  \
0       Jehu Rudeforth         UK      Mint Chip Choco 2022-01-04   $5,320
1          Van Tuxwell      India        85% Dark Bars 2022-08-01   $7,896
2         Gigi Bohling      India  Peanut Butter Cubes 2022-07-07   $4,501
3         Jan Morforth  Australia  Peanut Butter Cubes 2022-04-27  $12,726
4       Jehu Rudeforth         UK  Peanut Butter Cubes 2022-02-24  $13,685
...                ...        ...                  ...        ...       ...
1089  Karlen McCaffrey  Australia  Spicy Special Slims 2022-05-17   $4,410
1090    Jehu Rudeforth        USA           White Choc 2022-06-07   $6,559
1091      Ches Bonnell     Canada  Organic Choco Syrup 2022-07-26     $574
1092    Dotty Strutley      India              Eclairs 2022-07-28   $2,086
1093  Karlen McCaffrey      India       70% Dark Bites 2022-05-23   $5,075

      Boxes_Shipped
0               180
1                94
2                91
3               342
4               184
...             ...
1089            323
1090            119
1091            217
1092            384
1093            344

[1094 rows x 6 columns]

In [9]:
df.head(5)

,Sales_Person,Country,Product_Detail,Date,Amount,Boxes_Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,"$13,685",184

In [13]:
df["Boxes_Shipped"] = df["Boxes_Shipped"]+1
df.tail(5)

,Sales_Person,Country,Product_Detail,Date,Amount,Boxes_Shipped
1089,Karlen McCaffrey,Australia,Spicy Special Slims,2022-05-17,"$4,410",324
1090,Jehu Rudeforth,USA,White Choc,2022-06-07,"$6,559",120
1091,Ches Bonnell,Canada,Organic Choco Syrup,2022-07-26,$574,218
1092,Dotty Strutley,India,Eclairs,2022-07-28,"$2,086",385
1093,Karlen McCaffrey,India,70% Dark Bites,2022-05-23,"$5,075",345

In [15]:
df.dropna(subset=["Product_Detail"],axis=0) #NAN - not a number column details- subset and row details-axis

,Sales_Person,Country,Product_Detail,Date,Amount,Boxes_Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,"$5,320",181
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,"$7,896",95
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,"$4,501",92
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,"$12,726",343
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,"$13,685",185
...,...,...,...,...,...,...
1089,Karlen McCaffrey,Australia,Spicy Special Slims,2022-05-17,"$4,410",324
1090,Jehu Rudeforth,USA,White Choc,2022-06-07,"$6,559",120
1091,Ches Bonnell,Canada,Organic Choco Syrup,2022-07-26,$574,218
1092,Dotty Strutley,India,Eclairs,2022-07-28,"$2,086",385
1093,Karlen McCaffrey,India,70% Dark Bites,2022-05-23,"$5,075",345

In [17]:
import numpy as np
df['Boxes_Shipped'].replace(345,np.nan)

0       181.0
1        95.0
2        92.0
3       343.0
4       185.0
        ...
1089    324.0
1090    120.0
1091    218.0
1092    385.0
1093      NaN
Name: Boxes_Shipped, Length: 1094, dtype: float64

In [18]:
df['Boxes_Shipped'].replace(np.nan,345)

0       181
1        95
2        92
3       343
4       185
       ...
1089    324
1090    120
1091    218
1092    385
1093    345
Name: Boxes_Shipped, Length: 1094, dtype: int64

In [20]:
df.rename(columns = {'Date':'To_Date'}, inplace = True)

In [23]:
df.head(5)
df.dtypes
df["Boxes_Shipped"] = df["Boxes_Shipped"].astype("float")

In [24]:
df.tail(5)

,Sales_Person,Country,Product_Detail,To_Date,Amount,Boxes_Shipped
1089,Karlen McCaffrey,Australia,Spicy Special Slims,2022-05-17,"$4,410",324.0
1090,Jehu Rudeforth,USA,White Choc,2022-06-07,"$6,559",120.0
1091,Ches Bonnell,Canada,Organic Choco Syrup,2022-07-26,$574,218.0
1092,Dotty Strutley,India,Eclairs,2022-07-28,"$2,086",385.0
1093,Karlen McCaffrey,India,70% Dark Bites,2022-05-23,"$5,075",345.0

In [25]:
df.dtypes

Sales_Person              object
Country                   object
Product_Detail            object
To_Date           datetime64[ns]
Amount                    object
Boxes_Shipped            float64
dtype: object