In [5]:
import pandas as pd
data = {
      'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
      'Age': [24, 27, 22, 32, 29],
      'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
      'Salary': [45000, 54000, 50000, 62000, 47000]
  }
print(data)

{'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'], 'Age': [24, 27, 22, 32, 29], 'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'], 'Salary': [45000, 54000, 50000, 62000, 47000]}

In [6]:
df=pd.DataFrame(data)
# a. Print the first five rows
print("First five rows of the DataFrame:\n", df)

First five rows of the DataFrame:
       Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000

In [11]:
# b. Summary statistics of 'Age' and 'Salary'
print("\nSummary statistics of 'Age' and 'Salary':\n", df[['Age', 'Salary']].describe())

Summary statistics of 'Age' and 'Salary':
              Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000

In [12]:
# c. Average salary of employees in 'HR' department
hr_avg_salary = df[df['Department'] == 'HR']['Salary'].mean()
print("\nAverage salary in HR department:", hr_avg_salary)

Average salary in HR department: 46000.0

In [13]:
# 2. Add a new column 'Bonus' which is 10% of the salary
df['Bonus'] = df['Salary'] * 0.10
print("\n2. DataFrame with Bonus column:\n", df)

2. DataFrame with Bonus column:
       Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
3    Diana   32  Marketing   62000  6200.0
4      Eve   29         HR   47000  4700.0

In [14]:
# 3. Filter employees aged between 25 and 30
filtered_df = df[(df['Age'] >= 25) & (df['Age'] <= 30)]
print("\n3. Employees aged between 25 and 30:\n", filtered_df)

3. Employees aged between 25 and 30:
   Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0

In [15]:
# 4. Group by Department and calculate average salary
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()
print("\n4. Average salary by Department:\n", avg_salary_by_dept)

4. Average salary by Department:
 Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

In [16]:
# 5. Sort the DataFrame by Salary in ascending order and save to CSV
sorted_df = df.sort_values(by='Salary', ascending=True)
sorted_df.to_csv('sorted_by_salary.csv', index=False)
print("\n5. Sorted DataFrame saved to 'sorted_by_salary.csv'")

5. Sorted DataFrame saved to 'sorted_by_salary.csv'